mui-dropdown {
  position: relative;
  outline: none;
  display: inline-block;
}

mui-dropdown:focus mui-dropdown-head {
  border-color: blue;
}

mui-dropdown-head {
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  font-size: 100%;
  border: 2px solid black;
  padding: var(--dropdown-padding);
  cursor: pointer;
}

mui-dropdown-body a {
  color: black;
}
mui-dropdown-body {
  z-index: 100000;
  background-color: white;
  color: black;
  position: absolute;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  font-size: 100%;
  border: 2px solid black;
  padding: 3px;
}

mui-dropdown.full-width mui-dropdown-head {
  width: 100%;
}

mui-dropdown.with-icon mui-dropdown-head {
  padding-right: 25px;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: center;
}

mui-dropdown-body {
  display: block;
  white-space: nowrap;
}

mui-dropdown-body > hr {
  border-color: black;
  padding: 0;
  margin: 6px 0 6px 0;
}

mui-dropdown > mui-dropdown-body > div {
  display: block;
  padding: 5px;
}

mui-dropdown.align-right mui-dropdown-body {
  min-width: 24px;
  right: 0;
}

mui-dropdown.align-up mui-dropdown-body {
  bottom: 0;
  margin-bottom: calc(100% + 6px);
}
